.u-section-1 .u-sheet-1 {
  min-height: 987px;
}

.u-section-1 .u-image-1 {
  height: 852px;
  width: 509px;
  margin: 94px auto 0 41px;
}

.u-section-1 .u-text-1 {
  margin: -73px 849px 0 108px;
}

.u-section-1 .u-text-2 {
  margin: -1px 837px 0 108px;
}

.u-section-1 .u-text-3 {
  margin: -3px 959px 0 108px;
}

.u-section-1 .u-text-4 {
  margin: -25px 641px 0 463px;
}

.u-section-1 .u-text-5 {
  margin: -458px 160px 0 668px;
}

.u-section-1 .u-text-6 {
  margin: 28px 33px 60px 558px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: -39px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 709px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 697px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 819px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 501px;
    margin-left: 403px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 60px;
    margin-left: 568px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 137px;
    margin-right: 94px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 183px;
    margin-top: -98px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 205px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: 73px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 36px;
    margin-top: -102px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 308px;
    margin-top: -797px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 549px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 315px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -133px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -2px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -98px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -939px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-1 .u-image-1 {
    height: 569px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-5 {
    width: 199px;
    margin-top: -803px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 41px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 902px;
}

.u-section-2 .u-image-1 {
  width: 614px;
  left: auto;
  right: -21px;
}

.u-section-2 .u-image-2 {
  height: 804px;
  width: 458px;
  margin: 0 auto 0 55px;
}

.u-section-2 .u-text-1 {
  margin: -50px 839px 0 108px;
}

.u-section-2 .u-text-2 {
  margin: -1px auto 0 108px;
}

.u-section-2 .u-text-3 {
  margin: -51px 273px 0 667px;
}

.u-section-2 .u-text-4 {
  margin: -1px auto 0 667px;
}

.u-section-2 .u-text-5 {
  margin: 24px auto 0 667px;
}

.u-section-2 .u-text-6 {
  margin: -25px auto 0 1023px;
}

.u-section-2 .u-text-7 {
  margin: -25px auto 0 463px;
}

.u-section-2 .u-text-8 {
  margin: -25px auto 48px 108px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-2 .u-image-1 {
    width: 460px;
    height: 737px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -2px 0 0 auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -737px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -45px;
    margin-right: 700px;
    margin-left: 47px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 47px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -52px;
    margin-right: 198px;
    margin-left: 543px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 125px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -4px;
    margin-right: 325px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -21px;
    margin-right: 22px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 407px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-bottom: 47px;
    margin-left: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1716px;
  }

  .u-section-2 .u-image-1 {
    width: 549px;
    height: 854px;
    margin-top: 862px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1716px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: 193px;
    margin-top: -7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 256px;
  }

  .u-section-2 .u-text-3 {
    width: 199px;
    margin-top: 672px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: -101px;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: -750px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 52px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1760px;
  }

  .u-section-2 .u-image-1 {
    width: 614px;
    height: 840px;
    margin-top: 910px;
    margin-left: -37px;
    margin-right: -37px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1703px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -16px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -2px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 688px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -740px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -100px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 713px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-2 .u-image-1 {
    height: 529px;
    margin-top: 725px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 597px;
    margin-top: -1238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    width: 186px;
    margin-top: 482px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -534px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -124px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 531px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 52px;
    margin-bottom: 46px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 906px;
}

.u-section-3 .u-image-1 {
  height: 804px;
  width: 544px;
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: -21px 824px 0 109px;
}

.u-section-3 .u-text-2 {
  margin: -1px auto 0 109px;
}

.u-section-3 .u-text-3 {
  margin: -3px auto 0 109px;
}

.u-section-3 .u-image-2 {
  width: 614px;
  height: 779px;
  margin: -731px -18px 0 auto;
}

.u-section-3 .u-text-4 {
  margin: -121px 264px 0 669px;
}

.u-section-3 .u-text-5 {
  margin: -1px auto 0 669px;
}

.u-section-3 .u-text-6 {
  margin: -3px auto 0 669px;
}

.u-section-3 .u-text-7 {
  margin: -25px auto 0 1024px;
}

.u-section-3 .u-text-8 {
  margin: -52px auto 76px 464px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-3 .u-image-1 {
    height: 734px;
    width: 497px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -22px;
    margin-right: 686px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 47px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 47px;
  }

  .u-section-3 .u-image-2 {
    width: 472px;
    margin-top: -785px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -66px;
    margin-right: 208px;
    margin-left: 525px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 525px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 525px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 800px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -25px;
    margin-bottom: 28px;
    margin-left: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -55px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: 207px;
    margin-top: -12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-left: 247px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    height: 778px;
    margin-top: -6px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: 207px;
    margin-top: -124px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    margin-left: 258px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    margin-top: -102px;
    margin-left: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: -749px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1582px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -27px;
    margin-right: 159px;
    margin-left: 174px;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-4 {
    width: 192px;
    margin-top: -115px;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: -774px;
    margin-right: 245px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1181px;
  }

  .u-section-3 .u-image-1 {
    height: 502px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: 192px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    height: 560px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: -81px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 4px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -106px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -587px;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-image-1 {
  width: 614px;
  height: 804px;
  margin: 1px -20px 0 auto;
}

.u-section-4 .u-image-2 {
  height: 804px;
  width: 546px;
  margin: -804px auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: 11px 285px 0 652px;
}

.u-section-4 .u-text-2 {
  margin: -2px auto 0 652px;
}

.u-section-4 .u-text-3 {
  margin: -3px auto 0 652px;
}

.u-section-4 .u-text-4 {
  margin: -72px 820px 0 102px;
}

.u-section-4 .u-text-5 {
  margin: -1px auto 0 102px;
}

.u-section-4 .u-text-6 {
  margin: -3px auto 0 102px;
}

.u-section-4 .u-text-7 {
  margin: -27px auto 0 1007px;
}

.u-section-4 .u-text-8 {
  margin: -22px auto 60px 457px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 470px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -39px;
    margin-right: 213px;
    margin-left: 524px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 524px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 524px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 673px;
    margin-left: 49px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 49px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 49px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 802px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-bottom: 37px;
    margin-left: 424px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1541px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 673px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1477px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    width: 188px;
    margin-top: 625px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: 194px;
    margin-top: -725px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 552px;
    margin-left: auto;
  }

  .u-section-4 .u-text-8 {
    margin-top: -679px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1705px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 829px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1633px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 782px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -878px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 704px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -832px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-4 .u-image-1 {
    height: 582px;
    margin-top: 683px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 582px;
    margin-top: -1265px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 672px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -722px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 495px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -647px;
  }
}